@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Parkinsans:wght@300..800&display=swap');

body {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
  background-color: #333;
  color: #f9f9f9;
}

h1 {
  margin: 20px 0;
}

button {
  padding: 10px 15px;
  margin: 0px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

ul {
  padding: 0;
}

li {
  margin: 10px 0;
}
.video-grid {
  display: grid;
  gap: 2px;
  padding: 0;
}

.video-container {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.floating-button {
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
